name: main

on: [push, pull_request]

jobs:
  kfs-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: install-dependencies
      run: |
          sudo apt-get install fuse3 libfuse3-dev pkg-config
    - name: automated test
      run: |
          make
          mkdir tmp
          make test
      shell: bash